{% extends "base.html.twig" %}
{% block title 'Agence AJAAJAA'%}
    
{% block body %}
    <div class="container">
    <div class="jumbotron text-center">
<h1>Agence AJAAJAA</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto neque repellat eos perspiciatis amet excepturi culpa, fuga quas suscipit ducimus error recusandae rerum similique exercitationem vitae beatae unde? Possimus, ducimus.</p>
    </div>
    </div>
    <div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
        {% for property in properties %}
            <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                    <a href="{{path('property.show', {id: property.id, slug: property.slug})}}">{{property.title}}</a>
                </h5>
                <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{property.formattedPrice}}$</div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
